@import './../../styles/variables.sass'
  
.pagination
  margin-top: auto
  display: flex
  justify-content: center
  align-items: center
  gap: 20px
  padding: 20px 0
  width: 100%

  &__page
   font-size: 1.4rem
