.button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: #ffd700;
  color: #291a51;
  border: 1px solid #ffd700;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.button_error {
  background-color: #291a51;
  color: #ffd700;
}
@media (any-hover: hover) {
  .button:hover {
    box-shadow:
      0 0 2px #ffd700,
      0 0 7px #ffd700,
      0 0 20px #ffd700;
  }
}
.button:disabled {
  opacity: 0.5;
  background-color: #0d1b2a;
  color: #ffd700;
  cursor: auto;
}
@media (any-hover: hover) {
  .button:disabled:hover {
    box-shadow: none;
  }
}
