@import './../../../styles/variables.sass'
@import './../../../styles/mixins.sass'
  
.button
  padding: 10px 25px
  border: none
  border-radius: 5px
  background-color: $accent-color
  color: $dark-color
  border: 1px solid $accent-color
  font-weight: bold
  letter-spacing: 1px
  cursor: pointer

  &_error
    background-color: $dark-color
    color: $accent-color

  @include glowing-hover

  &:disabled
    opacity: 0.5
    background-color: $background-color
    color: $accent-color
    cursor: auto
    @media(any-hover: hover)
      &:hover
        box-shadow: none