@import './../../styles/variables.sass'

.flyout
  display: none
  position: absolute
  bottom: 0
  left: 0
  z-index: 1
  width: 100%
  padding: 20px
  color: $light-color

  &.active
    display: flex

  &.light-theme
    background-color: $dark-color

  &.dark-theme
    background-color: lighten($dark-color, 10)

  &__wrapper
    display: flex
    align-items: center
    justify-content: center
    gap: 20px

  &__text
    font-size: 1.4rem
