@import './styles/reset.sass'
@import './styles/variables.sass'
  
body
  min-height: 100vh
  margin: 0
  padding: 0
  font-family: Roboto
  background-color: $background-color
  color: $text-color

  & p
    padding: 0

#root
  position: relative
  min-height: 100vh

.accent-text
  color: $accent-color

.center-text
  margin-top: 10vh 
  text-align: center

.app
  max-width: 1380px
  padding: 0px 20px
  margin: 0 auto
  min-height: 100vh
  display: flex
  flex-direction: column
  